<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learnandcan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.AccountActivity"/>
        <activity android:name=".activity.MessageActivity"/>
        <activity android:name=".activity.MobileActivity"/>
        <activity android:name=".activity.CategoryActivity"/>
        <activity android:name=".activity.CommuActivity"/>
        <activity android:name=".activity.DiscoverdetailActivity"/>
        <activity android:name=".activity.DiscovoerActivity"/>
        <activity android:name=".activity.DiscoverUserinfoActivity"/>
        <activity android:name=".activity.LessondetailActivity"/>
        <activity android:name=".activity.LessonsaveActivity"/>
        <activity android:name=".activity.LoginActivity"/>
        <activity android:name=".activity.SettingActivity"/>
        <activity android:name=".activity.SignatureActivity"/>
        <activity android:name=".activity.SearchActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            />
        <activity android:name=".activity.SplashActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            />
        <activity android:name=".activity.EmailActivity"
            android:theme="@style/Email"
            />

        <activity android:name=".activity.ProfileActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".activity.DetailsActivity"/>
        <activity android:name=".activity.Reward"/>
    </application>

</manifest>
